div.externa {
	background-color: Gainsboro;
	width: 530px;
	height: 500px;
	float: left;
}

div.externa_tela_cheia {
	background-color: Gainsboro;
	width: 100%;
	height: 100%;
	float: left;
}

div.cabecalho {
	background-color: blue;
	text-align: center;
	width: 500px;
	margin-left: 15px;
	margin-top: 50px;
}

div.cabecalho_tela_cheia {
	background-color: blue;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 50px;
}

div.div_form {
	width: 490px;
	margin-left: 20px;
}
div.mensagem_erro{
	color: red;
}

p.sucesso{
    color: green;
    padding-left: 150;
    font-size: large;
    font-weight: bold;
    background-color: yellow;
    width: 380;
}

p.erro{
    color: red;
    font-size: large;
    font-weight: bold;
    background-color: yellow;
    width: 530;
}

td.coluna{
	text-align: center;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}
